.Header-appBar-3{
	position: absolute !important;
}

.Footer-footer-100{
	position: absolute !important;
	left: auto !important;
	right: auto !important;
	bottom: auto !important;
	width: 100%
}

.GuestLayout-root-1{
	background-color: #ffffff !important;
}